@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.image{
    height: 50%;
    width: 50%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: #747474;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    font-family: roboto;
}
.img{
    width: 40px;
    height: 40px;
    
}
.sec1{
    text-align: center;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #747474;
}
.p1{
    margin-top: 25px;
    font-size: 35px;
}
.p2{
    color: #747474;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    
    padding-left: 40px;
    line-height: 30px;
}
.sec2{
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    margin-top: 50px;
}
.container_right{
    margin-right: 100px;
}

.container_both{
    margin: 0 100px;
}

.container{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    padding: 25px;
    justify-content: center;
    transition: 1.5s;

}
.con1{
    height: 350px;
    width: 27%;
    border-radius: 10px;
    margin-left: 20px;
    background-color: #1AD1B9;
    color: white;
    transition: 1.5s;
}
.con2{
    height: 350px;
    width: 27%;
    border-radius: 10px;
    margin-left: 20px;
    background-color: #3D83DF;
    color: white;
    transition: 1.5s;

}
.con3{
    height: 350px;
    width: 27%;
    border-radius: 10px;
    margin-left: 20px;
    background-color: #1B2734;
    color: white;
    transition: 1.5s;
}
#user{
    
    height: 25px;
    width: 25px;
    margin-left: 30px;
    margin-top: 30px;
    
}
.p3{
    font-size: 25px;
    font-family: 'Roboto';
    
    margin-left: 30px;
}
.p4{
    margin-left: 30px;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 100;
}
.country{
    margin-left: 30px;
    border: 0;
    outline: 0;
    background-color: none;
    font-size: 20px;
    font-family: 'Roboto';
    
    
}
select{
    border: none;
    background: transparent;
    color: white;
    text-decoration: underline;
    
}
select option{
    color: black;
}
.sec3{
    display: flex;
    flex-direction: row;
}
.p5{
    color: #747474;
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: 200;
    margin-left: 10%;
    margin-top: 20px;

}

.h4{
    color: #DADADA;
    font-family: 'Roboto';
    margin-top: 1px;
    padding-left: 5px;
    text-decoration: none;
    font-size: 18px;
}
.img2{
    width: 20px;
    height: 20px;
    
}
.textdiv{
    display: flex;
    flex-direction: row;
    padding-left: 50px; 
    margin-top: 20px;
}
.inline1{
    display: flex;
    flex-direction: row;
    margin-left: 11%;
    justify-content: space-between;
}
.inline2{
    display: flex;
    flex-direction: row;
    margin-left: 11%;
    justify-content: space-between;
}
.img3{
    width: 100px;
    height: 100px;
    margin-bottom: 10%;
    
    
}



.eight{
    width: 100%;
    height: 590.5px;
    background-color: #e5faf8;
    display: flex;
    

}

.text8a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 2.125rem;
    color: #00b39b;
    margin-left: 100px;
    margin-top: 70px;
}

.text8b{
    color: #747474;
    font-weight: 500;
    font-size: 14px;
    margin-top: 180px;
    margin-left: -317px;
}

.logo3{
    width: 300px;
    height: 340px;
    margin-top: 290px;
    margin-left: -430px;
}

.box1{
    height: 200px;
    width: 185px;
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
    margin-top: 80px;
    margin-left: 400px;
    justify-content: center;
}

.logo4{
    margin-left: 80px;
}

.text8c{
    text-align: center;
    font-size:  1.4461538462em;
    font-family: 'Work Sans', sans-serif;
    color: #00b39b;
}

.text8d{
    font-size: 13px;
    color: #747474; 
    text-align: center;
    font-weight: 400;
    margin-top: -10px;
}

.box2{
    height: 200px;
    width: 185px;
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
    margin-top: 335px;
    margin-left: -215px;
}

.logo5{
    margin-left: 70px;
    margin-top: 10px;
}

.text8e{
    text-align: center;
    font-size:  1.4461538462em;
    font-family: 'Work Sans', sans-serif;
    color: #00b39b;
}

.text8f{
    font-size: 13px;
    color: #747474; 
    text-align: center;
    font-weight: 400;
    margin-top: 10px;
}

.box3{
    height: 200px;
    width: 185px;
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
    margin-top: 30px;
    margin-left: 40px;
}

.text8g{
    text-align: center;
    font-size:  1.4461538462em;
    font-family: 'Work Sans', sans-serif;
    color: #00b39b;
}

.text8h{
    font-size: 13px;
    color: #747474; 
    text-align: center;
    font-weight: 400; 
}

.box4{
    height: 200px;
    width: 185px;
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
    margin-top: 280px;
    margin-left: -215px;
}

.logo6{
    margin-left: 75px;
}

.logo7{
    margin-left: 75px;
}

.text8i{
    text-align: center;
    font-size:  1.4461538462em;
    font-family: 'Work Sans', sans-serif;
    color: #00b39b;
}

.text8j{
    font-size: 13px;
    color: #747474; 
    text-align: center;
    font-weight: 400;
}

.ninth{
    width: 100%;
    height: 1200px;
    background-color: #fff;
    justify-content: center;
    
}

.text9a{
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    color: #00b39b;
    text-align: center;
    margin-top: 100px;
}

.text9b{
    color: #747474;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    line-height:  1.7142857143;
}

.card1{
    background-color: #fff;
    border-radius: 5px;
    width: 311px;
    height: 349px;
    padding: 10px;
    /* border: solid #f8f7f7; */
    margin-left: 100px;
    margin-top: 90px;
    
}

.card1:hover{
    box-shadow: 0px 0px 0px 0.5px ;
    color: #dad9d9;  
}

.text9c{
    font-size: 18px;
    font-family:  'Roboto', sans-serif;
    color: #747474;
    font-weight: 400;
    margin-top: -25px;
    margin-left: 5px;
}

.button1{
    font-size: 10px;
    font-family:  'Roboto', sans-serif;
    padding: 7px 10px;
    background-color: #3d83df;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    margin-left: 210px;
    margin-top: 25px ;
}

.button1:hover{
    font-size: 10px;
    font-family:  'Roboto', sans-serif;
    padding: 7px 10px;
    background-color: #0056c7;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    margin-left: 210px;
    margin-top: 25px ;
}

.card2{
    background-color: #fff;
    border-radius: 5px;
    width: 311px;
    height: 349px;
    padding: 10px;
    /* border: solid #f8f7f7; */
    margin-left: 480px;
    margin-top: -375px;
}

.card2:hover{
    box-shadow: 0px 0px 0px 0.5px ;
    color: #dad9d9;  
}

.button2{
    margin-left: 200px;
    margin-top: 25px;
    font-size: 10px;
    font-family:  'Roboto', sans-serif;
    padding: 7px 10px;
    background-color: #3d83df;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
}

.button2:hover{
    margin-left: 200px;
    margin-top: 25px;
    font-size: 10px;
    font-family:  'Roboto', sans-serif;
    padding: 7px 10px;
    background-color: #0056c7;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
}

.text9d{
    font-size: 18px;
    font-family:  'Roboto', sans-serif;
    color: #747474;
    font-weight: 400;
    margin-top: -25px;
    margin-left: 5px;
}

.card3{
    background-color: #fff;
    border-radius: 5px;
    width: 311px;
    height: 349px;
    padding: 10px;
    /* border: solid #f8f7f7; */
    margin-left: 850px;
    margin-top: -375px;
}

.card3:hover{
    box-shadow: 0px 0px 0px 0.5px ;
    color: #dad9d9;  
}

.button3{
    font-size: 10px;
    font-family:  'Roboto', sans-serif;
    padding: 7px 10px;
    background-color: #3d83df;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    margin-left: 200px;
    margin-top: 25px;
}

.button3:hover{
    font-size: 10px;
    font-family:  'Roboto', sans-serif;
    padding: 7px 10px;
    background-color: #0056c7;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    margin-left: 200px;
    margin-top: 25px;
}

.text9e{
    font-size: 18px;
    font-family:  'Roboto', sans-serif;
    color: #747474;
    font-weight: 400;
    margin-top: -25px;
    margin-left: 5px;
}

.card4{
    background-color: #fff;
    border-radius: 5px;
    width: 311px;
    height: 349px;
    padding: 10px;
    /* border: solid #f8f7f7; */
    margin-left: 100px;
    margin-top: 20px;
}

.card4:hover{
    box-shadow: 0px 0px 0px 0.5px ;
    color: #dad9d9;  
}

.button4{
    font-size: 10px;
    font-family:  'Roboto', sans-serif;
    padding: 7px 10px;
    background-color: #3d83df;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    margin-left: 210px;
    margin-top: 25px ;
}

.button4:hover{
    font-size: 10px;
    font-family:  'Roboto', sans-serif;
    padding: 7px 10px;
    background-color: #0056c7;
    border: none;
    border-radius: 2px;
    color: whitesmoke;
    margin-left: 210px;
    margin-top: 25px ;
}

.text9f{
    font-size: 18px;
    font-family:  'Roboto', sans-serif;
    color: #747474;
    font-weight: 400;
    margin-top: -25px;
    margin-left: 5px;
}

.card5{
    background-color: #fff;
    border-radius: 5px;
    width: 311px;
    height: 349px;
    padding: 10px;
    /* border: solid #f8f7f7; */
    margin-left: 480px;
    margin-top: -375px;
}

.card5:hover{
    box-shadow: 0px 0px 0px 0.5px ;
    color: #dad9d9;  
}

.card6{
    background-color: #fff;
    border-radius: 5px;
    width: 311px;
    height: 349px;
    padding: 10px;
    /* border: solid #f8f7f7; */
    margin-left: 100px;
    margin-top: 20px;
}

.card6:hover{
    box-shadow: 0px 0px 0px 0.5px ;
    color: #dad9d9;  
}

.tenth{
    width: 100%;
    height: 220px;
    text-align: center;
}

.text10{
    font-family: 'Work Sans', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    color: #333;
    margin-top: 350px;
}

.button5{
    font-size: 12px;
    font-weight: bold;
    font-family:  'Roboto', sans-serif;
    padding: 10px 12px;
    background-color: #3d83df;
    border: none;
    border-radius: 4px;
    color: whitesmoke;
    letter-spacing: 0.04em;
}

.button5:hover{
    font-size: 12px;
    font-weight: bold;
    font-family:  'Roboto', sans-serif;
    padding: 10px 12px;
    background-color: #0056c7;
    border: none;
    border-radius: 4px;
    color: whitesmoke;
    letter-spacing: 0.04em;
}

.footer{
    text-align: center;
    font-size: 12px;
    color: #ababab;
    font-family:  'Roboto', sans-serif;
    padding: 16px;
}